@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;

  --color-discord-deep: #1e1f22;
  --color-discord-sidebar: #2b2d31;
  --color-discord-main: #313338;
  --color-discord-card: #2b2d31;
  --color-discord-item: #383a40;
  --color-discord-hover: #35373c;
  --color-discord-input: #1e1f22;
  --color-discord-blurple: #5865f2;
  --color-discord-text-normal: #dbdee1;
  --color-discord-text-muted: #949ba4;
}

